<div>
	<ul>
<li id="nav"><%= render :text => "01" %>
<%= render :text => printf %>
	<%= form_tag do %>
	  <%= submit_tag "on", :name => "on1" %>
		<%= submit_tag "off", :name => "off1" %>
	<% end %>
	</li>
	<li id="nav"><%= render :text => "02" %>
	<%= form_tag do %>
	  <%= submit_tag "on", :name => "on2" %>
		<%= submit_tag "off", :name => "off2" %>
	<% end %>
	</li>
 <li id="nav"> <%= render :text => "03" %>
	<%= form_tag do %>
	  <%= submit_tag "on", :name => "on3" %>
		<%= submit_tag "off", :name => "off3" %>
	<% end %>
	</li>
<li id="nav">	
<%= render :text => "04" %>
	<%= form_tag do %>
	  <%= submit_tag "on", :name => "on4" %>
		<%= submit_tag "off", :name => "off4" %>
	<% end %>
	</li>
	</ul>
	<h1 id="feedback"><%= flash[:notice] %></h1>
	
	<script language="JavaScript">
		$(document).ready(function() {
		setInterval(function(){ $('#lightData').load('data/index #lightData h1'); }, 10000);
		});  
	</script>
	<div id="lightData"><h1>Data</h1></div>
</div>