<ul id="switches">

<li>
<%= render :text => "01" %>
<%= render :text => printf %>
	<%= form_tag do %>
	  <label for="cb1">Checkbox1</label>
    <input id="cb1" type="checkbox" name="switch" data-formid="on1" />
		<%= submit_tag %>
	<% end %>
</li>
<li>
	<%= render :text => "02" %>
	<%= form_tag do %>
    <label for="cb2">Checkbox1</label>
    <input id="cb2" type="checkbox" name="switch" data-formid="on2" />
    <%= submit_tag %>
	<% end %>
</li>
<li> 
<%= render :text => "03" %>
	<%= form_tag do %>
		<label for="cb3">Checkbox1</label>
    <input id="cb3" type="checkbox" name="switch" data-formid="on3" />
		<%= submit_tag %>
	<% end %>
</li>
<li>	
	<%= render :text => "04" %>
		<%= form_tag do %>
			<label for="cb4">Checkbox1</label>
      <input id="cb4" type="checkbox" name="switch" data-formid="on4" />
			<%= submit_tag %>
		<% end %>
</li>
<li>	
	<%= render :text => "05" %>
		<%= form_tag do %>
			<label for="cb5">Checkbox1</label>
      <input id="cb5" type="checkbox" name="switch" data-formid="on5" />
			<%= submit_tag %>
		<% end %>
</li>

<%= params['on'] %>

</ul>
	
<P id="feedback"><%= flash[:notice] %></P>

<div id="lightData"><h1>Data</h1></div>	

<script language="JavaScript">
		//$(document).ready(function() {
		//setInterval(function(){ $('#lightData').load('data/index #lightData h1'); }, 30000);
		//});  
		
	</script>
	

 <script src="/javascripts/zepto.js"></script>
	<script>
    var PAULAPP = (function(){
      
      function next(elem) {
        do {
          elem = elem.nextSibling;
        } while (elem && elem.nodeType != 1);
        return elem;
      }
      
      var feedback = document.getElementById('feedback');
      
      $("ul").delegate("label","click",function(){
        var cb = next(this);
        
        this.style.backgroundPosition = (cb.checked) ? "0 0, 100% 0" : "0 0, 0 0";
        
        var form = cb.getAttribute("data-formid");

        $.ajax({
          type: 'POST',
          data: {on: !cb.checked, form: form}, // this is the data that you post to the controller (true or false atm)
          dataType: 'json',
          success: function(body) {
            feedback.innerHTML = body.output;
          }, // body is a string (or if dataType is 'json', a parsed JSON object)
          error: function(xhr, type) { 
            //alert("something bad happened :|")
          } // type is a string ('error' for HTTP errors, 'parsererror' for invalid JSON)
        })
                  
      });

	setInterval(function(){
		$.ajax({
          type: 'GET',
          dataType: 'json',
          success: function(body) {
			$("h1")[0].innerHTML = "l" + data.l + "h" + data.h + "t" + data.t
            lightData.innerHTML = body.output;
          }, // body is a string (or if dataType is 'json', a parsed JSON object)
          error: function(xhr, type) { 
            //alert("something bad happened :|")
          } // type is a string ('error' for HTTP errors, 'parsererror' for invalid JSON)
        })
	   }, 3000);
    })();
  </script>



